@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/roboto/Roboto-Regular.woff") format("woff");
}

:root {
  --background-color: #eee;
  --text-color: #000;
  --header-color: #bbb;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 4px 16px 4px 220px;
}

header {
  margin-bottom: 20px;
  padding: 0 20px;
  background-color: var(--header-color);
}

.header-link {
  display: none;
  margin-left: 10px;
  text-decoration: none;
  color: #555;
}

header:hover .header-link {
  display: inline;
}

.header-link:hover {
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0;
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: var(--header-color);
}

@media screen {
  #hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("img/mc-img.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #hero div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

p,
li {
  max-width: 800px;
}

img {
  max-width: 100%;
}

.inline-code {
  padding: 5px;
  background-color: #ddd;
  white-space: nowrap;
}

.multiline-code {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  width: fit-content;
  white-space: pre-line;
  background-color: #ddd;
}

nav {
  padding: 0;
  width: 200px;
  background-color: #bbb;
  position: fixed;
  height: 100%;
  overflow: auto;
}

nav a:nth-child(2n + 1) {
  background: #a5a5a5;
}

nav a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

nav header {
  margin: 0;
  display: block;
  padding: 10px;
  background-color: #3260e0;
  color: white;
}

nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  main {
    padding: 4px 16px;
  }

  nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav a {
    text-align: center;
    float: none;
  }

  main {
    margin-left: 0;
  }
}

@media print {
  main {
    padding: 4px 16px;
  }

  nav {
    display: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
}
