@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Montserrat"), url("/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Bold.woff") format("woff");
}

:target::before {
  content: "";
  display: block;
  height: 4rem;
  /* fixed header height*/
  margin: -4rem 0 0;
  /* negative fixed header height */
}

/* Custom properties/variables  */
:root {
  --light-blue: #32e0c4;
  --dark-blue: #53998d;
  --dark-grey: #222831;
  --light-grey: #393e46;
}

@media (prefers-color-scheme: light) {

  body,
  h1,
  h2,
  h3,
  p,
  a {
    color: black;
  }

  :root {
    --light-blue: #32e0c4;
    --dark-blue: #c7e3de;
    --dark-grey: #ffffff;
    --light-grey: #d6e2f5;
  }

  canvas {
    filter: invert(100%) hue-rotate(200deg) brightness(115%);
  }
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 90%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 85%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  color: #eeeeee;
  font-size: 1rem;
  background: #393e46;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

h3 {
  padding: 0 0 1rem;
  font-size: 2.8rem;
  text-align: left;
  font-weight: 200;
}

p {
  font-size: 1.8rem;
  font-weight: 200;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

a:visited {
  color: var(--dark-blue);
}

img {
  display: block;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #393e46;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  header {
    display: none;
  }
}

/* SITENAME STUFF */

#sitename-href {
  float: left;
  margin: 0.5rem 1rem 0.5rem 1.5rem;
  height: 3.5rem;
  color: #eee;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 200%;
  text-transform: capitalize;
  text-decoration: none;
  overflow: hidden;
}

#sitename {
  transition: transform ease 0.5s;
}

/* transition from sitename to author */
#sitename-text-p {
  color: var(--light-blue);
  position: relative;
  top: 0.5rem;
  transition: top ease 0.5s;
  user-select: none;
}

#sitename-text-kyle {
  position: relative;
  top: 0.5rem;
  right: 0;
  transition: right 0.5s ease, top 0.5s ease;
  user-select: none;
}

#sitename-text-dot {
  color: var(--light-blue);
  position: relative;
  bottom: -0.5rem;
  transition: bottom ease 0.3s;
  user-select: none;
}

#sitename-text-me {
  position: relative;
  bottom: -0.5rem;
  transition: bottom ease 0.5s;
  user-select: none;
}

#sitename-text-hillips {
  color: var(--light-blue);
  position: relative;
  top: 1rem;
  left: 1.4rem;
  user-select: none;
}

#sitename-text-hillips-pos {
  position: relative;
  bottom: 0;
  padding-bottom: 0rem;
  transition: bottom ease 0.5s;
}

@media screen and (min-width: 600px) {
  #sitename:hover {
    bottom: 0.5rem;
    transform: translateY(-0.5rem);
  }

  #sitename:hover>#sitename-text-p {
    top: 1.75rem;
  }

  #sitename:hover>#sitename-text-kyle {
    right: 1.5rem;
    top: 0.2rem;
  }

  #sitename:hover>#sitename-text-me {
    bottom: 1.8rem;
  }

  #sitename:hover>#sitename-text-dot {
    bottom: 1.8rem;
  }

  #sitename:hover>#sitename-text-hillips-pos {
    bottom: 1.65rem;
  }
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  color: #eeeeee;
  display: block;
  font-family: "Montserrat", Verdana, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0.5rem 0;
}

.nav-list a:hover {
  background: var(--dark-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: #000; */
}

.welcome-text {
  position: absolute;
  z-index: 1;
}

.welcome-text>p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  background: linear-gradient(0deg, #393e46 0%, transparent 35%),
    linear-gradient(78deg, #202020, #000000);
  /* background: linear-gradient(bottom, #ffffff, transparent), linear-gradient(78deg, #202020, #fff); */
}

.projects-section {
  margin: 0 auto;
  background: #393e46;
  width: 90vw;
}

.text-area {
  padding: 2rem 3rem;
  font-size: 2rem;
}

.projects-svg {
  height: 1.2ex;
}

@media (min-width: 75em) {}

.projects-grid {
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, fit-content);
  gap: 2rem;
}

.project-tile {
  margin: 0 auto;
  padding: 1rem;
  background: var(--dark-grey);
  box-shadow: 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
}

.project-title {
  color: #eeeeee;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.project-image {
  display: inline-block;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--dark-grey);
  flex-wrap: wrap;
}

footer>*:nth-child(1),
footer>*:nth-last-child(1) {
  flex-grow: 1;
  flex-basis: 0;
}

footer h3,
footer p {
  font-size: 1.2rem;
}

.contact-links {
  margin: 1rem 0;
}

.contact-details {
  color: #eeeeee;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

.contact-svg {
  height: 1.7ch;
}

#copyright {
  text-align: end;
}