/* https://coolors.co/1c2022-f3f0e2-e8e1c5-4f5f92-048ba8 */
:root {
  --background-color: #e8e1c5;
  --card-color: #f3f0e2;
  --text-color: #1c2022;
  --link-color: #048ba8;
  --link-visited-color: #4f5f92;
}

/* dark theme support */
/* https://coolors.co/e9ebed-151414-0e0d06-1a130f-ee4266 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --card-color: #151414;
    --text-color: #e9ebed;
    --link-color: #10cef9;
    --link-visited-color: #6d7db0;
  }
  #home-icon {
    filter: invert(100%);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

header,
#img-div,
#tribute-info {
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--card-color);
}

footer {
  margin: 25px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  background-color: var(--card-color);
}

header {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas:
    "home title"
    "home subtitle";
}

#home-link {
  grid-area: home;
  width: 50px;
  justify-self: center;
  align-self: center;
}

#home-icon {
  width: 40px;
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 0;
}

#title {
  grid-area: title;
  margin: 0;
  padding: 0;
}

#subtitle {
  grid-area: subtitle;
  margin: 0;
  padding: 0;
}

#title,
#subtitle,
#img-caption {
  font-family: sans-serif;
  text-align: center;
}

#img-div {
  text-align: center;
}

#credit-text {
  text-align: center;
}

h2,
p,
li,
a {
  font-family: sans-serif;
}

li {
  list-style-type: square;
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-visited-color);
  text-decoration: underline;
}
a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}

#image {
  display: block;
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border-radius: 25px;
}

#img-caption {
  margin: 1% auto;
}

a[target="_blank"]::after {
  content: url("/fcc/img/box-arrow-up-right.svg");
  margin-left: 0.5ch;
  display: inline;
}

.copyleft {
  display: inline-block;
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  #home-link {
    display: none;
  }

  header,
  #tribute-info,
  #img-div {
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
  }

  header {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "subtitle";
  }

  footer {
    margin: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
  }

  #image {
    width: 95%;
  }
}
